<h1>
  <%= @game.home_player.email %>
  vs
  <%= @game.guest_player.email %>
</h1>

<div class="maps-container">
  <% 2.times do |i| %>
    <table id=<%= "player-#{i}" %>>
      <% @game.map.each_with_index do |row, i| %>
        <tr>
          <% row.each_with_index do |column, j| %>
            <td class="<%= 'ship' if column == 1 %>"></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td colspan="10"><span></span></td>
      </tr>
    </table>
  <% end %>
</div>

<div class='button-container'>
  <%= button_to "Fight!", start_admin_game_path, remote: true, format: :json, class: 'btn btn-danger btn-lg' %>
</div>
