<h1> &lt; &lt; battleship.rb &gt; &gt; </h1>

<div class="maps-container">
  <% 2.times do |i| %>
    <table id=<%= "player-#{i}" %>>
      <% @map.each_with_index do |row, i| %>
        <tr>
          <% row.each_with_index do |column, j| %>
            <td class="<%= 'ship' if column == 1 %>"></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td colspan="8"><span></span></td>
      </tr>
    </table>
  <% end %>

  <%= form_for(@user, remote: true, format: :json) do |f| %>
    <%= f.text_area :code, class: "code-textarea" %>
    <div id="editor" class="code"></div>
    <%= f.submit "Submit" %>
  <% end %>
</div>
