<h1>Dashboard</h1>

<h2>Users</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<h2>Random Pairs</h2>
<ul>
  <% @pairs.each do |(home, guest)| %>
    <li>
      <% if guest %>
        <strong><%= home.email %></strong> vs <strong><%= guest.email %></strong>
      <% else %>
        <%= home.email %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Create Game</h2>
<%= form_for [:admin, Game.new] do |f| %>
  <div>
    <%= f.select :home_player_id, options_from_collection_for_select(@users, :id, :email) %>
    vs
    <%= f.select :guest_player_id, options_from_collection_for_select(@users, :id, :email) %>
  </div>
  <div>
    <%= select_tag :map_number, options_for_select([["Map 1", "1"], ["Map 2", "2"], ["Map 3", "3"]]) %>
  </div>
  <div>
    <%= f.submit 'Start the Game', class: 'btn' %>
  </div>
<% end %>
