<!DOCTYPE html>
<html>
<head>
  <title>BattleshipRuby</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, message| %>
  <div class="alert alert-dismissible alert-<%= key.gsub('notice', 'success').gsub('alert', 'warning') %>" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %>
  </div>
<% end %>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
